{% extends "index.html" %}
{% block title %} Search {% endblock %}

{% block content %}
<div class="col-sm-12">
    <div class="card" style="border: 2px solid #07bc4c">
    <center><h2> Favourited Song</h2> 
    <iframe src={{ "https://open.spotify.com/embed/track/"}} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">test</iframe>
    </hr></br></div></center><center>
    <h1> Similar Songs Based on your Favourites</h1></center></div>
{% endblock content %}